<html>
	<head>
		<title>Student Sign Up | Patriot Point Website</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</head>
	<body>
		<script src='/assets/js/studentsignup.js'></script>
		<center>
			<label for='username'>Please enter your first name:</label>
			<input type='text' id='username'>
			<br>
			<label for='password'>Please enter your gmail password:</label>
			<input type='password' id='password'>
			<br>
			<button onclick='submit()'>Sign Up</button>
		</center>
	</body>
</html>